:root {
    --nude-pallette-1: #edede9;
    --nude-pallette-2: #d6ccc2;
    --nude-pallette-3: #f5ebe0;
    --nude-pallette-4: #e3d5ca;
    --nude-pallette-5: #d5bdaf;
}

body {
    margin: 0;
    font-family: sans-serif;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: transparent;
}

#nav-hamburger {
    display: none;
}

#nav-hamburger:hover {
    stroke: var(--nude-pallette-3);
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

nav a {
  color: white;
  padding: 1rem;
  display: flex;

  text-decoration: none;
  text-transform: uppercase;
  
  font-size: 12px;
  font-style:normal;
  letter-spacing: 0.2em;
}

nav a:hover {
  background-color: var(--nude-pallette-2);
}

nav #cta {
    background-color:var(--nude-pallette-5);
}

#index-main {
    background-image: url('/assets/images/hero-large.JPEG');
    background-size: cover;
    background-position: 40% 40%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#logo {
    height: auto;
    padding-left: 1rem;

    text-decoration: none;
    text-transform: uppercase;

    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-style:normal;
    letter-spacing: 0.15rem;
}

#hero-text {
    display: flex;
    align-items: center;
    justify-content: left;

    padding-left: 1rem;
    height: 100vh;
}

.title-text {
    all:initial;
    color: white;
    text-transform: uppercase;
    font-size: 96px;
    font-family: 'Playfair Display', serif;
}


#welcome-quote {
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
    justify-content: center;
    
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: white;

    font-family: 'Playfair Display';
    letter-spacing: 0.05em;
}

#welcome-quote p {
    max-width: 80ch;
}

.cursive {
    display: flex;
    justify-content: center;
    font-family: 'Southwood';
    font-size: 4rem;
}

footer {
    background-color: var(--nude-pallette-3);

    display:flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    text-align: center;

    font-size: 10px;
    font-family:sans-serif;
    letter-spacing: 0.1em;
}

hr {
    width: 100%;
    height: 1px;
    margin: 0;
    border: none;
    background-color: #ccc;
    transform: rotate(0deg);
}

.footer-info {
    padding-top: 12px;
    padding-bottom: 32px;
}

.instagram-logo{
    padding-top: 24px;
    padding-bottom: 16px;
}

#linkedin {
    text-decoration: none;
    color: black;
}

.bg-dark {
    background-color: black;
}

.bg-light {
    background-color: white;
}

.text-light{
    color:white;
}

.text-dark {
    color: black;
}

#about-header {
    background-color: black;
}

#about-banner pre {
    margin: 0;
    padding-top: 6rem;
    padding-bottom: 2.5rem;
    text-align: center;

    width: cover;

    background-image: url(/assets/images/about-banner.jpg) ;
    background-size: 100%;
    background-position: 10% 10%;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: "Southwood", serif;
    font-size: 5rem;

    letter-spacing: 0.05em;
}

#about-main {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    height: 100%;
}

#about {
    display: flex;
    justify-content: center;

    height: 100%;
}

#about img{
    padding: 4rem;

    height: 600px; 
    width: 400px;
}

#about-mobile{
    display:none;
}

#about-container {
    padding-right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    letter-spacing: 0.05rem;

}

#greeting {
    font-family: "Southwood", serif;
    font-size: 6rem;

    color: #3C2A21;
}

#about-me-text {
    padding-left: 3rem;
    font-size: 14px;
    font-family: "Playfair Display", serif;
    max-width: 60ch;
}

#about-footer {
    background-color: var(--nude-pallette-3);
}

/* laptop */
@media (max-width: 1600px) {
    .title-text {
        font-size: 64px;
    }
    .cursive {
        font-size: 3rem;
    }
    #about img{
        height: 540px; 
        width: 360px;
    }
}
@media (max-width: 1200px) {
    #index-main {
        background-image: url('/assets/images/hero-small.JPEG');
        background-size: cover;
        background-position: center;
    }

    #greeting {
        font-size: 4rem;
    }

    #about img{
        height: 420px; 
        width: 280px;
    }

    #about-banner pre {
        font-size: 4rem;
    }

    #about-me-text {
        font-size: 12px;
    }
}

/* small laptop */
@media (max-width: 992px) {

    #nav-menu {
        display: none;
    }

    #nav-hamburger {
        display: block;
        padding-right: 0.5rem;
        cursor: pointer;
    }

    .title-text {
        font-size: 56px;
    }

    .cursive {
        font-size: 2.5rem;
    }

    #welcome-quote {
        font-size: 12px;
    }

    #about img{
        padding: 2.5rem;
        height: 360px; 
        width: 240px;
    }

    #about-header #nav-hamburger{
        stroke: white;
     }

    #about-banner pre {
        background-attachment: local;
        background-image: url(/assets/images/test.jpg) ;
        font-size: 3rem;
    }

    #greeting {
        font-size: 3rem;
    }

    #about-me-text {
        padding-left: 2rem;
        font-size: 10px;
    }
}
/* tablet */
@media (max-width: 768px) {
    #logo {
        padding-left: 0.5rem;
    }
    #hero-text {
        padding-left: 0.5rem;
    }
     .title-text {
        font-size: 40px;
    }
    #welcome-quote p {
        max-width: 36ch;
    }

    #about {
        display: none;
    }

    #about-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;

        display: block;
    }

    #about-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 0;
    }

    #about-container img{
        width: 90%;
    }

    #about-me-text {
        padding-left: 0;
        max-width: 50ch;
        font-size: 14px;
    }
}
/* phone */
@media (max-width: 480px) {
    .title-text {
        font-size: 32px;
    }

    #greeting {
        padding: 1rem;
    }

    #about-me-text {
        padding-left: 0;
        padding: 5%;
        max-width: 45ch;
        font-size: 16px;
        font-family: "Playfair Display", serif;
    }
}